".source.php":
  "\\\\Bx\\\\Main\\\\Config\\\\Option::get":
    "prefix": "D7OptionGet"
    "body": """
    $${1:value} = \\\\Bitrix\\\\Main\\\\Config\\\\Option::get('${2:module}', '${3:var}');$4
    """

  "\\\\Bx\\\\Main\\\\Config\\\\Option::getDefaults":
    "prefix": "D7OptionGetDefaults"
    "body": """
    $${1:arValue} = \\\\Bitrix\\\\Main\\\\Config\\\\Option::getDefaults('${2:module}');$3
    """

  "\\\\Bx\\\\Main\\\\Config\\\\Option::getRealValue":
    "prefix": "D7OptionGetRealValue"
    "body": """
    $${1:arValue} = \\\\Bitrix\\\\Main\\\\Config\\\\Option::getRealValue(
    '${2:module}',
    '${3:name}'
    );$4
    """

  "\\\\Bx\\\\Main\\\\Config\\\\Option::set":
    "prefix": "D7OptionSet"
    "body": """
    \\\\Bitrix\\\\Main\\\\Config\\\\Option::set(
    '${2:module}',
    '${3:name}'
    '${4:value}'
    );$5
    """

  "\\\\Bx\\\\Main\\\\Config\\\\Option::delete":
    "prefix": "D7OptionDelete"
    "body": """
    \\\\Bitrix\\\\Main\\\\Config\\\\Option::delete("${1:module}", array(
      "name" => "${2:name}",
      "site_id" => "${3:siteID}"
      )
    );
    """
